######################
# Intellij
######################
**/.idea/**
**/.run/**
*.iml
*.iws
*.ipr
*.ids
*.orig
.ideaDataSources
dataSources

######################
# Maven
######################
/log/**
/target/**
**/target/**
target

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db